html.dark {

    --vxe-font-color                        : #ffffff;
    --vxe-toolbar-background-color          : transform;
    --vxe-button-default-background-color   : #409eff;
    --vxe-input-border-color                : #2c7ecf;
    --vxe-input-background-color            : #155093;
    --vxe-font-color                        : #ffffff;
    --vxe-primary-color                     : #2c7ecf;
    --vxe-primary-lighten-color             : #1dc1f5;
    --vxe-icon-background-color             : #ffffff;
    --vxe-table-font-color                  : #ffffff;
    --vxe-table-resizable-color             : #ffffff;
    --vxe-table-header-background-color     : #00baff;
    --vxe-table-header-font-color           : #ffffff;
    --vxe-table-body-background-color       : #003b51;
    --vxe-table-background-color            : #4a5663;
    --vxe-table-border-width                : 1px;
    --vxe-table-border-color                : #155093;
    --vxe-table-row-striped-background-color: #0a2732;

    --vxe-modal-header-background-color: #0a2732;
    --vxe-modal-body-background-color  : #003b51;
    --vxe-modal-border-color           : #003b51;

    .el-table {
        --el-table-header-bg-color  : #00baff;
        --el-table-header-text-color: #ffffff;
        --el-table-border           : 0px solid var(--el-table-border-color);
        --el-table-tr-bg-color      : #003b51;
        --el-fill-color-lighter     : #0a2732;
        --el-fill-color-light       : #000000;
        --el-border-color           : #155093;
        --el-border-color-lighter   : transform;

        tr {
            td {
                transition: all 1s !important;
            }
        }
    }

    .el-overlay {
        .el-dialog {
            background: linear-gradient(#003b51, #0a2732);

            &__header {
                border-color: #0a2732;
            }
        }
    }

    .vxe-button {
        &.vxe-button.type--button:not(.is--disabled):hover {
            background-color: #3375b9;
            color           : #ffffff;
        }
    }

    .vxe-cell .vxe-input>.vxe-input--inner {
        text-align: center;
    }

    .vxe-body--row {
        transition: all 1s;

        &:hover {
            background: #000000;
        }
    }

    .vxe-table--render-default.border--full .vxe-body--column,
    .vxe-table--render-default.border--full .vxe-footer--column,
    .vxe-table--render-default.border--full .vxe-header--column {
        background-image: none;
    }

}

html,
body {
    margin : 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

#app {
    width            : 100vw;
    height           : 100vh;
    margin           : 0 auto;
    background-repeat: no-repeat;
    background-size  : cover;
    background-image : url(../images/bg.1.png);
}

.el-header {
    padding           : 0;
    --el-header-height: auto;
}

.oc-layout {
    width : 100vw;
    height: 100vh;

    >.el-container {
        height: 100%;
    }
}

.oc-header {
    display       : flex;
    flex-direction: column;
    height        : 40px;
    background    : linear-gradient(#051526, #155093);

    &__wrapper {
        flex           : 1;
        display        : flex;
        align-items    : center;
        justify-content: space-between;
    }
}

.el-aside {
    width: 200px;
}

.el-main {
    padding: 10px;
}

.oc-logo {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100%;
    padding        : 0 20px;
    color          : #ffffff;
    font-size      : 22px;
    font-weight    : bold;

    span {
        padding: 0 10px;
    }
}

.oc-aside {
    height : 100%;
    padding: 10px 0 10px 10px;

    &__box {
        height : 100%;
        padding: 30px 10px 10px;

        .el-menu {
            height      : 100%;
            border-width: 0;

            .el-sub-menu__title {
                font-weight: bold;
                font-size  : 14px;
            }

            &-item {
                &-group {
                    &__title {
                        display: none;
                    }

                    >ul {
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}

.oc-box {
    height : 100%;
    padding: 10px;

    &__header {
        padding      : 10px 30px;
        border-bottom: 1px solid #155093;

        .el-form {
            overflow: hidden;

            &-item {
                max-width    : 200px;
                margin-bottom: 5px;

                &:last-child {
                    max-width      : initial;
                    // float       : right;
                    margin-right   : 0;
                }

                &__label {
                    color: #ffffff;
                }
            }
        }
    }

    &__main {
        height    : calc(100% - 60px);
        // height : 78vh;
        padding   : 15px;
    }
}

.oc-table {
    height: 100%;
}

.oc-empty {
    display        : flex;
    justify-content: center;
    width          : 100%;
    height         : 100%;
}

.el-overlay {
    &-dialog {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    .el-dialog {
        background   : linear-gradient(#1f4f83, #0c3057);
        // box-shadow: 0px 12px 32px 4px rgba(255, 255, 255, 0.1), 0px 8px 20px rgba(255, 255, 255, 0.1);
        margin       : 0;

        &__header {
            margin       : 0;
            padding      : 15px;
            border-bottom: 1px solid #0c3057;
        }

        &__headerbtn {
            top: 2px;

            .el-icon {
                font-size: 16px;
            }
        }

        &__title {
            color: #ffffff;
        }
    }
}

.el-descriptions {
    background-color: #003b51;
    overflow        : hidden;

    &__header {
        background-color: #00baff;
        padding         : 12px 15px;
    }

    &__title {
        line-height: 1;
    }

    &__body {
        height    : 75.2vh;
        padding   : 0 15px;
        overflow-y: auto;
    }

    &__label {
        display         : block;
        background-color: #00000055;
        padding         : 2px 10px;
        text-align      : center;
    }
}